/* shared styling */
* {
    margin: auto;
    max-width: 1320px;
}

/* header 1sts part styling */
.banner {
    background: linear-gradient(to bottom, black, transparent), url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: 50px auto 120px;
    border-radius: 16px;
}

.banner-greeting {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 0px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 50px 344px 177px;
}

/* header ad styling */
.header-ad {
    align-items: center;
}

.ad-sale-range {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.ad-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.ad-info {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.ad-pic {
    text-align: center;
    margin-bottom: 120px;
}

/* main styling */
/* first section styling */

.first-sec {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background: linear-gradient(to right, rgb(21, 21, 21), transparent), url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin-bottom: 120px;
    border-radius: 10px;
}

.welcome {
    padding: 126px 0px 142px 126px;
}

.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.welcome-join {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 32px;
}

.welcome-pic {
    margin: 68px 138px 68px 40px;
    width: 319.83px;
    height: 464.662px;
}

/* venue section styling */
.venue {
    width: 1320px;
    height: 482px;
    background-image: linear-gradient(to bottom, #fcd4d4, #fff);
    text-align: center;
    border-radius: 12px;
    margin-bottom: 120px;

}

.venue-details {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding: 100px 386px 48px;
}

.join-btn {
    padding: 16px 32px;
    border: 0px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* third section styling */
.third-sec {
    height: 482px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

.offer-intro {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 104px 256px 16px 0px;
}

.offer-declaration {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-right: 135px;
    margin-bottom: 22px;
}

.description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 70px;
}

.offer-deal-pic {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 49px;
}

.offer-deal-date {
    margin-left: 118px;
}

.new-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 112px 150px 16px 0px;
}

.new-year-pic {
    width: 140px;
    height: 140px;
    margin-top: 43px;
}

/* fourth section styling */
.fourth-section {
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;

}

.sale {
    text-align: center;
}

.sale-intro {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.sale-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 38px;
}

.sale-pics {
    display: flex;

}

.discount {
    position: relative;
    bottom: 114px;
    left: 24px;
}

.img1 {
    position: absolute;
    top: 70px;
    right: 250px;
}


/* fifth section styling */
.fifth-sec {
    margin-top: 120px;
}

.page-portfolio-intro {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.page-portfolio-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.portfolio-pics{
    max-width: 1600px;
    margin-top: 48px;
}
.portfolio-pics img {
    width: 400px;
    margin: 18.71px;
    border-radius: 16px;
    /* width: calc(30% - 20px);
    margin: 8px; */
}

/* last section styling */
.last-section {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-bottom: 140px;
    margin-top: 120px;
}

.subscriber-icon {
    padding: 80px 0px 40px;
}

.subscriber-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.subscriber-btn {
    margin: 48px;
    margin-right: 200px;
}

.subscriber-btn .email input {
    width: 648px;
    height: 72px;
    position: relative;
    background: #FFF;
    border: 0px;
    text-align: center;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.subs-btn {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 0px;
    position: absolute;
}

/* footer styling */
.line {
    width: 1320px;
    height: 1px;
    background: rgba(30, 28, 28, 0.15);
}

.text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.footer-info {
    width: 1600px;
    height: 609px;
    background: #070211;
}

.contact-details {
    display: flex;
    justify-content: space-between;
}

.address {
    margin: 120px 0px 50px 140px;
}

.contact-info {
    margin: 120px 290px 0px 0px;
}

.social-links {
    text-align: center;
    margin: 48px 0px;
    letter-spacing: 24px;
}

.end {
    display: flex;
    justify-content: space-between;
}

#end-left {
    margin: 50px 0px 120px 140px;
}

#end-right {
    margin: 50px 140px 120px 0px;
}

.decor-line {
    border: none;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
    position: relative;
    margin: 0px 140px;
}